* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: burlywood;
}

.page-content {
    justify-content:center;
    align-items:center;
    padding: 50px 100px;
    border: 5px solid black;
    border-radius: 20px;
    margin: 300px 500px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.directions-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 3px solid black;
    padding: 100px 25px 5px 25px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.directions-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 750px;
    line-height: 2;
    text-align: left;
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 48px;
    font-family:'Courier New', Courier, monospace;
}

#time {
    font-size: 26px;
    font-family:fantasy;
}

.btn {
    background-color: rgb(59, 59, 173);
    font-size: 26px;
    color: white;
    padding: 5px;
    font-family:fantasy;
    border-radius:10px;
    border: 2px solid black;
}

.btn:hover {
    background-color: rgb(66, 66, 117, .8);
}

.incorrect {
    background-color: rgb(59, 59, 173);
    font-size: 26px;
    color: white;
    padding: 10px;
    font-family:fantasy;
    border-radius:10px;
    border: 2px solid black;
    margin: 5px;
}

.incorrect:hover {
    background-color: rgb(66, 66, 117, .8);
}

.correct {
    background-color: rgb(59, 59, 173);
    font-size: 26px;
    color: white;
    padding: 10px;
    font-family:fantasy;
    border-radius:10px;
    border: 2px solid black;
}

.correct:hover {
    background-color: rgb(66, 66, 117, .8);
}

.new-title {
    margin-top: 30px;
    margin-bottom: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.new-question {
    margin-bottom: 8px;
    font-size: 17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}